div.playersetupcontainer {
    position: relative;
}

div.playersetuplistpanecontainer {
    min-width: 15%;
    max-width: 25%;
    float: left;
}

div.playersetuplistpane {
    padding-right: 10px;
}

div.playersetupformpanecontainer {
    width: 75%;
    float: left;
}

div.playersetupformpane {
    border-left: 1px solid gray;
    padding-left: 10px;
}

table.playerlisttable {
    border-collapse: collapse;
    width: 95%;
}

td.playerlistdivision {
    padding-top: 1.5ex;
    border-bottom: 1px solid silver;
}

tr.playerlistrow td {
    border-top: 1px solid silver;
    border-bottom: 1px solid silver;
}

tr.playerlistrowselected {
    background-color: #ffff88;
}

td.playerlistflags {
    text-align: right;
}

h2.withdrawnplayer {
    background-color: #dddddd;
}
