

/* Preferences */
div.prefsdiv {
    max-width: 600px;
}

div.prefsheading {
    background-color: navy;
    color: white;
    padding: 5px;
}

div.prefstaborder {
    padding: 5px;
    margin-bottom: 10px;
    background-color: #dddddd;
}

div.prefstaborderrow {
    position: relative;
    padding: 5px;
    vertical-align: middle;
    height: 30px;
    line-height: 30px;
    border-bottom: 1px dashed black;
}

div.prefstaborderimage {
    position: absolute;
    left: 0px;
}

div.prefstabordercontrol {
    position: absolute;
    left: 40px;
    padding-left: 10px;
}

div.prefsclear {
    clear: both;
}

div.prefssubmitrow {
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 5px;
}

div.prefsfeedback {
    height: 20px;
}

span.prefssaved {
    color: #008800;
    font-size: 10pt;
}

div.prefstaborderfooter {
    font-size: 10pt;
}

