
/* Self-hosted font code from
 * https://google-webfonts-helper.herokuapp.com/
 */

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: url('/fonts/roboto-v19-latin-regular.eot'); /* IE9 Compat Modes */
  src: local('Roboto'), local('Roboto-Regular'),
       url('/fonts/roboto-v19-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('/fonts/roboto-v19-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('/fonts/roboto-v19-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('/fonts/roboto-v19-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('/fonts/roboto-v19-latin-regular.svg#Roboto') format('svg'); /* Legacy iOS */
}

@font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    src: url('/fonts/Inter-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Inter SemiBold';
    font-style: normal;
    font-weight: 500;
    src: url('/fonts/Inter-SemiBold.ttf') format('truetype');
}

body.display {
    font-family: "Inter", sans-serif;
    --text-font-family: "Inter", sans-serif;
    --heading-font-family: "Inter SemiBold", "Inter", sans-serif;
    --videprinter-font-family: "Roboto", sans-serif;
    font-variant-numeric: tabular-nums;
}
