body {
	font-family: sans-serif;
}

a {
	text-decoration: none;
}

.sidebar {
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0px;
	padding-left: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
	width: 180px;
	background-color: #dddddd;
	overflow-y: auto;
}

.sidebarlinklist {
	padding-left: 18px;
}

.mainpane {
	margin-left: 200px;
}

.groupseparator {
	height: 4px;
	background-color: purple;
}

.fixturetable {
	border-collapse: collapse;
}

table.fixturetable th {
	padding-left: 0.5em;
	padding-right: 0.5em;
}

table.fixturetable td.gameplayer1 {
	background-color: #ffffcc;
}

table.fixturetable td.gamescore {
	background-color: #ffffcc;
}

table.fixturetable td.gameplayer2 {
	background-color: #ffffcc;
}

table.fixturetable td.roundno {
	font-size: 1.5em;
	font-weight: bold;
	vertical-align: middle;
	text-align: center;
}

table.scorestable td.roundno {
	font-size: 1.5em;
	font-weight: bold;
	vertical-align: middle;
	text-align: center;
}

table.fixturetable td.tableno {
	font-size: 1.5em;
	font-weight: bold;
	vertical-align: middle;
	text-align: center;
}

table.scorestable td.tableno {
	font-size: 1.5em;
	font-weight: bold;
	vertical-align: middle;
	text-align: center;
}

.scorestable {
	border-collapse:collapse;
}

table.scorestable th {
	padding-left: 0.5em;
	padding-right: 0.5em;
}

tr.gamerow td {
}

tr.firstgameintable td {
	border-top: 2px solid black;
}

tr.unplayedgame td.gameplayer1 {
	background-color: #eeeeee;
}

tr.unplayedgame td.gameplayer2 {
	background-color: #eeeeee;
}

td.winningplayer {
	background-color: #aaffaa;
}

td.losingplayer {
	background-color: #ffaaaa;
}

td.drawingplayer {
	background-color: #ffff88;
}

.roundno {
	text-align: center;
}

.gameseq {
	text-align: center;
}

.tableno {
	text-align: center;
}

.gametype {
	text-align: center;
}

.gameplayer1 {
	text-align: right;
	padding-left: 0.5em;
	padding-right: 0.5em;
}

.gamescore {
	text-align: center;
}

input.gamescore {
	text-align: center;
}

.gameplayer2 {
	text-align: left;
	padding-left: 0.5em;
	padding-right: 0.5em;
}


/* STATS CORNER */
table.statscorner {
	border-collapse: collapse;
}

table.statscorner tr {
}

table.statscorner th {
	border-bottom: 1px solid black;
	background-color: #dddddd;
}

tr.statsrow td {
	border-bottom: 1px dashed gray;
}

td.statsname {
	border-right: 1px solid gray;
	background-color: #ffdd66;
	text-align: left;
	vertical-align: middle;
	padding-left: 0.5em;
	padding-right: 0.5em;
}

td.statsnumvalue {
	background-color: #ffff88;
	text-align: right;
	vertical-align: middle;
	padding-left: 0.5em;
	padding-right: 0.5em;
}

/* STANDINGS */

table.standingstable {
	border-collapse: collapse;
}

tr.standingstabledivspacer {
	height: 2ex;
}

table.standingstable td {
	padding-left: 0.3em;
	padding-right: 0.3em;
}

tr.standingsrow td {
	border-bottom: 1px dashed gray;
}

table.standingstable th {
	border-bottom: 1px solid black;
	background-color: #dddddd;
	padding-left: 0.3em;
	padding-right: 0.3em;
}

td.standingspos {
	text-align: right;
	vertical-align: middle;
}

td.standingsname {
	text-align: left;
	border-right: 1px solid gray;
}

td.standingsplayed {
	text-align: right;
	border-right: 1px solid gray;
}

td.standingswins {
	text-align: right;
	border-right: 1px solid gray;
}

td.standingsdraws {
	text-align: right;
	border-right: 1px solid gray;
}

td.standingspoints {
	text-align: right;
	border-right: 1px solid gray;
}

td.standingsspread {
	text-align: right;
	border-right: 1px solid gray;
}

td.standingsfirstsecond {
	text-align: right;
	border-right: 1px solid gray;
}

td.standingstournamentrating {
	text-align: right;
	border-right: 1px solid gray;
}

table.resultstable {
	border: 1px solid #66ccff;
	border-collapse: collapse;
}

td.exportleftplayer {
	text-align: right;
	padding-right: 1em;
}

td.exportrightplayer {
	text-align: left;
	padding-left: 1em;
}

td.exportscore {
	text-align: center;
}

tr.exporttablenumber {
}

tr.exportdivisionnumber {
}

tr.exportgamerow {
	background-color: #ccffff;
}

th.exporttablenumber {
	background-color: #66ccff;
	text-align: center;
	/* border-top: 1ex solid white;*/
}

th.exportroundnumber {
	background-color: #22aaff;
	text-align: center;
	font-weight: bold;
	font-size: 16pt;
}

th.exportdivisionnumber {
	background-color: #66ccff;
	text-align: center;
	font-weight: bold;
	font-size: 14pt;
}

table.teamscorestable {
	border: 2px solid grey;
	border-collapse: collapse;
}

td.teamscorestablename {
	border: 1px solid gray;
	text-align: left;
}

td.teamscorestablescore {
	border: 1px solid gray;
	text-align: right;
	font-weight: bold;
}

div.warningbox {
	background-color: #ffff88;
	border: 5px solid orange;
	height: 130px;
	max-width: 600px;
	display: table;
}

div.warningboximage {
	float: left;
	height: 130px;
	width: 150px;
}

div.warningboxmessagecontainer {
	max-width: 450px;
	vertical-align: middle;
	display: table-cell;
	padding: 5px;
}

div.warningboxmessage {
	font-size: 14pt;
}

div.tourneyexception {
	background-color: #ffcccc;
	border: 5px solid red;
	height: 130px;
	max-width: 600px;
	display: table;
}

div.tourneyexceptionimage {
	float: left;
	height: 130px;
	width: 150px;
}

div.tourneyexceptionmessagecontainer {
	max-width: 450px;
	vertical-align: middle;
	display: table-cell;
}

div.tourneyexceptionmessage {
	font-size: 14pt;
}

div.infobox {
	max-width: 480px;
	vertical-align: middle;
	padding: 10px;
	display: table-cell;
}

div.infoboxcontainer {
	background-color: #ccccff;
	border: 5px solid blue;
	height: 130px;
	max-width: 600px;
	display: table;
}

a.playerlink {
	text-decoration: none;
	color: #000044;
}

a.thisplayerlink {
	font-weight: bold;
}

div.exportedstandings {
	margin-left: 20px;
}

div.exportedresults {
	margin-left: 20px;
}

.fixgentable {
	border-collapse: collapse;
}

table.fixgentable {
	border: 1px solid black;
	max-width: 800px;
}

th.fixgenth {
	border-bottom: 1px solid gray;
	background-color: #cccccc;
}

td.fixgen {
	width: 200px;
	background-color: #ffee66;
	padding: 5px;
	border-bottom: 1px solid gray;
}

td.fixgenmodule {
	padding: 5px;
	border-bottom: 1px solid gray;
	background-color: #ffffaa;
	font-size: 10pt;
}

td.fixgendescription {
	font-size: 10pt;
	padding: 5px;
	border-bottom: 1px solid gray;
	background-color: #ffffaa;
}
